<footer>
  <p mt-8 text-xs op-40>
    <span pr-1>Made by:</span>
    <a
      b-slate-link
      href="https://www.facebook.com/KKrasG" target="_blank"
    >
      Kalvin Rasgo
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://prompts.chat/" target="_blank"
    >
      Awesome ChatGPT Prompts
    </a>
  </p>
</footer>
